<h1 class="text-6xl text-center font-thin"><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
<div class="text-center text-gray-600">
    {{ entry.author }}
    ·
    {{ entry.postDate | date('F j, Y') }}

    {% if currentUser %}
        ·
        <a href="{{ entry.cpEditUrl }}" target="_blank">Edit this entry</a>
    {% endif %}
</div>

{% include '_partials/fields/content_builder' with { 'field': entry.contentBuilder } %}
